#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #111111;
}
body {
    margin:0;
    overflow-y:auto;
}
#app {
    min-height: 100dvh;
    display: flex;
}
/*.p-tabmenu.p-component {
  position: sticky;
  top: 0;
  z-index: 10;
}*/
.p-tabmenu.p-component {
    position: sticky;
    top: 0;
    opacity: 1;
    transition: all 0.3s ease-out;
    z-index: 1000;
}
.p-tabmenu.p-component.stick-off, .breadcrumb-container.stick-off {
    top: -3rem;
    opacity:  0;
}

.bg-home .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link, .bg-home .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link,
.bg-home .p-tabmenu .p-tabmenu-nav, .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
    background: #000000;
}
.p-breadcrumb.p-component, .breadcrumb-container {
    position: sticky;
    top: 0;
    opacity: 1;
    transition: all 0.3s ease-out;
    z-index: 1010;
    border: none;
}
.breadcrumb-container {
    background-color:#ffffff;
}
.breadcrumb-container>nav {
    flex-grow:1;
}
cf-container {
    display:flex;
    flex-grow: 1;
    width: 100%;
}
cf-sidebar {
    width: 0;
    transition: border-right 0.3s ease-out, width 0.3s ease-out;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    height: 100dvh;
    background-color:#000000;
    border-right:9px solid #eeeeff;
}
.sidebar-closed cf-sidebar {
    border-right:9px solid #000000;
}
cf-content {
    flex-grow:1;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--sidebar-width,0));
    overflow-x: auto;
    overflow-y: auto;
}
cf-sidebar.active {
    width: auto;
}
@media screen and (max-width: 767px) {
    cf-sidebar .p-menuitem-text {
        display: none;
    }
}
#sidebar-handle-container {
    height:100dvh;
    width: 0;
}

#sidebar-handle {
    margin-left: -7px;
    cursor:pointer;
    transform: rotate(0);
    transition: transform 0.3s ease-out;
}

#sidebar-handle>.bar-top {
    transform: translateY(0.15rem) rotate(15deg) translateZ(0px);
    height: 1rem;
    width: 0.25rem;
    background: #000000;
    border-radius:100px!important;
    transition: background 0.5s ease-out;
}

#sidebar-handle>.bar-bottom {
    transform: translateY(-0.15rem) rotate(-15deg) translateZ(0px);
    height: 1rem;
    width: 0.25rem;
    background: #000000;
    border-radius:100px!important;
    transition: background 0.5s ease-out;
}

.sidebar-closed #sidebar-handle {
    transform: rotate(180deg);
}
.sidebar-closed #sidebar-handle>* {
    background: #ffffff;
    margin-left: -0.25rem;
}
.sidebar-closed cf-sidebar>* {
    width: 0;
}

.p-tabmenu.main-menu>ul {
    flex-direction: column;
    border-bottom: none;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
    box-shadow: none!important;
    border: none;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled) {
    border: none;
}
.p-inplace.inplace-html>.p-inplace-display {
    display:block;
}
.p-confirm-dialog {
    min-width: 300px;
    max-width:100vw;
}
.p-accordion .p-inplace input.p-inputtext {
    background-color: transparent;
    border:none;
    padding:0 0 0 8px;
}
.text-danger {
    color: red!important;
}
.p-autocomplete input {
    width: 100%;
}
a.p-tabview-nav-link {
    overflow: visible;
}
.tabview-extended i {
    margin-left: 1rem;
}
.p-tabview .p-tabview-nav li {
    z-index:10;
}
.accordion-records .p-editor-toolbar {
    border-radius: 0!important;
}
.accordion-records  .p-editor-container .p-editor-content {
    border-radius: 0!important;
}
.accordion-records .p-accordion-content {
    padding: 0!important;
    border: none!important;
}
.accordion-records .ql-editor {
    border-radius: 0!important;
}
.accordion-records .p-inplace .p-inplace-display {
    border-radius: 0!important;
}
.accordion-records .p-accordion-header-link {
    border: none!important;
    background-color: transparent!important;;
    padding: 0.5rem 0!important;;
}
.accordion-records .p-accordion-header-link:focus {
    box-shadow: none!important;
}
.p-tabview.client-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding:0.5rem!important;
}
span[contenteditable='true'] {
    cursor:text;
}
.p-datatable.payments tr>td {
    cursor:pointer;
    vertical-align: middle;
}
.p-dialog-content .p-panel .p-panel-header {
    padding:1rem!important;
    border-top: 1px solid #dee2e6!important;
}
.p-dialog-content .p-panel+.p-panel .p-panel-header {
    border-top: none!important;
}
.p-datatable-header {
    transition: all 0.3s ease-out;
    position: sticky;
    top: var(--breadcrumbsHeight,0);
    z-index: 10;
}
.p-datatable-header.stick-off {
    top: -100px;
}
.importEventsTable > .p-datatable-header {
    padding: 0 0 1rem 0!important;
    background: transparent!important;;
    border-top: none!important;
    position: static;
}
.p-datatable.importEventsTable .p-datatable-tbody > tr > td {
    vertical-align:middle
}

* {
    border-radius:0!important;
}

.toc-card .p-card-header {
    display:flex;
    justify-content: center;
}
.toc-card .p-card-content {
    display: none;
}
.toc-card .p-card-title {
    margin: 0;
    display: flex;
    justify-content: center;
}
.toc-card {
    min-width: 240px;
    cursor: pointer;
}

.p-datatable td {
    vertical-align: middle;
}
.p-datatable-loading-overlay.p-component-overlay {
    background-color: unset;
}

.p-fileupload-buttonbar {
    margin:0;
    padding: 0!important;
}
.p-fileupload .p-fileupload-buttonbar .p-button {
    margin-right: 0;
}
.p-fileupload-content {
    display: none;
}

@media screen and (max-width: 767px) {
    cf-content .p-button-label {
        display:none
    }
    cf-content .label-always .p-button-label {
        display:block
    }
    cf-content .p-selectbutton .p-button-label {
        display:block
    }
    cf-content .p-button {
        padding:0.5rem!important;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    cf-content .p-button-icon-left {
        margin: 0!important;
    }
    cf-content .label-always .p-button-icon-left {
        margin-right: 0.5rem!important;
    }
}

.laufzettel .p-datatable-thead {
    display:none;
}
.laufzettel tr {
    cursor:pointer;
}
.laufzettel tr:hover td:not([rowspan]) {
    background: rgba(33, 150, 243, 0.3)!important;
}
.laufzettel tr td[rowspan] {
    font-weight: bold;
}
.laufzettel tr.is-done td:not([rowspan]) {
    background: rgba(0, 255, 0, 0.3)!important;
}

.laufzettel-matrix th, .laufzettel-matrix td {
    border:none!important;
}
.laufzettel-matrix th:first-child>div {
    display: none;
}
.laufzettel-matrix th:first-child {
    background: transparent!important;
    border-right:1px solid rgb(233, 236, 239)!important;
}
.laufzettel-matrix th:not(:first-child) {
    background: rgb(248, 249, 250)!important;
    border-top:1px solid rgb(233, 236, 239)!important;
}
.laufzettel-matrix td:first-child {
    font-weight: bold;
    background: rgb(248, 249, 250)!important;
    border-left:1px solid rgb(233, 236, 239)!important;
}
.laufzettel-matrix tr:first-child td:first-child {
    border-top:1px solid rgb(233, 236, 239)!important;
    width: 16.6667% !important;
}
.laufzettel-matrix th:last-child, .laufzettel-matrix td:last-child {
    border-right:1px solid rgb(233, 236, 239)!important;
}
.laufzettel-matrix tr:last-child td {
    border-bottom:1px solid rgb(233, 236, 239)!important;
}
.laufzettel-matrix td, .laufzettel-matrix th {
    border-right:1px solid rgb(233, 236, 239)!important;
    border-bottom:1px solid rgb(233, 236, 239)!important;
}
.laufzettel-matrix.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.75rem;
}
.laufzettel-matrix i {
    cursor:pointer;
}

.kommentar-liste .kommentar>*:first-child {
    margin-top:0!important;
    padding-top:0!important;
}

.bg-login {
    /*background-image: url('assets/main.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/

}
.bg-home {
    /*background-image: url('assets/main.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;*/
    background-color: #eeeeff;
}
.bg-reset {
    background-image: url('assets/reset_1440.jpg');
    background-size: cover;
    background-position: center center;
}

.category-table.p-datatable .p-datatable-tbody > tr > td {
    padding: 2px;
    border:none;
}
.category-table.p-datatable .p-datatable-thead {
    display: none;
}

.deferred-content {
    transition: opacity 0.2s ease-out;
    opacity: 1;
}
.deferred-content.loading {
    opacity: 0;
}

#box-question, #box-answer {
    left: var(--sidebar-width-half-neg,0);
}

#box-answer {
    min-height:10rem;
    overflow:auto;
}

#box-answer .question-label {
    background-color:#000000;
    color:#ffffff;
}

#chat-screen {
    max-height:100vh
}

.sticky-table.p-datatable>.p-datatable-wrapper {
    overflow: visible!important;
}

.sticky-table.p-datatable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

.p-datatable-loading-overlay + .p-datatable-wrapper {
    display:none
}

.p-datatable-loading-overlay ~ .p-paginator-bottom {
    display: none;
}

@media (min-width: 768px) {
    #login-or-aai {
        transform: rotate(-90deg);
    }
}
#login-or-aai {
    transition: all .3s ease-out;
}

#main-container {
    overflow: auto;
    min-height: var(--mainbox-height, auto);
}

.system-button {
    line-height:0.6;
}